.current {
    display: flex;
    gap: 50px;
    align-items: center;
    @media (max-width:1030px) {
        flex-direction: column;
    }
    &__left {
        @media (max-width: 1030px) {
            max-width: 100%;
        }
        border-radius: 20px;
        box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
        padding: 20px;
        max-width: 400px;
        width: 100%;
        position: relative;

        h1 {
            font-size: 96px;
            font-weight: 500;
            color: #4793ff;
        }

        h2 {
            font-weight: 400;
            font-size: 40px;
            margin-bottom: 20px;
        }

        p {
            font-weight: 400;
            font-size: 25px;
            color: #939cb0;
            line-height: 35px;
        }

        img {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    &__right {
        width: 100%;
        border-radius: 20px;
        box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
        padding: 35px;
        background: url(cloud.png) no-repeat right top;
        &-list {
            li {
                display: flex;
                align-items: center;
                gap: 20px;
                margin-bottom: 24px;
                @media (max-width:550px) {
                    flex-direction: column;
                    text-align: center;
                }
                &:last-of-type{
                    margin-bottom: 0;
                }
                div {
                    width: 38px;
                    height: 38px;
                    border-radius: 50%;
                    display: grid;
                    place-content: center;
                    box-shadow: 1px 4px 10px -1px rgba(71, 147, 255, 0.2);
                }

                h3 {
                    font-weight: 400;
                    font-size: 14px;
                    color: #939cb0;
                    width: 96px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
    }
}

.daily{
    margin-top: 50px;
    h2{
        color: white;
        background: #4793FF;
        width: max-content;
        padding: 7px 20px;
        border-radius: 5px;
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 7px;
    }
    &__content{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 20px;
        padding: 19px;
        box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
        border-radius: 0 0 20px 20px;
        @media (max-width: 1200px) {
            overflow-x: auto;
        }
        &-day{
            width: 149px;
            height: 210px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            gap: 3px;
            background: rgba(71, 147, 255, 0.2);
            border-radius: 10px;
            padding: 11px;
            img{
                transform: translateX(-10px);
            }
            &:last-child{
                display: none;
                visibility: hidden;
            }
            p{
                font-size: 14px;
                color: #939cb0; 
            }
            h3, h4{
                font-weight: 500;
                font-size: 18px;
            }
            h5, h6{
                font-weight: 400;
                font-size: 13px;
                color: #939cb0;
            }
        }
    }
}